body{
    background-color: black;
    background-image:url("Photo\ Backrgound.jpeg");
    text-decoration: none ;    
    margin: 30px 30px 10px 30px;
}

a{
    text-decoration: none;
    }

form{
    padding-top: 2cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    box-sizing: content-box;
    width: 42%;
    margin-left: 5%; 
}
.felicitation
{
    display: flex;
    flex-direction: column;
    align-items:center;
    border: solid #61A252;
    background-color:#8FC781;
    margin-top:30%;
}
